POSTGRES_DB=events
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

JWT_SECRET=your-very-secure-secret-key-at-least-256-bits-long
JWT_EXPIRATION=604800000

BACKEND_URL=http://backend:8080/api


# The next variables require a Cloudinary account (free)
# Skip if you want to use the application without image upload functionality.
# CLOUDINARY_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=